

.body-copy {
  font-family: "Google Sans", "Roboto", "Arial", sans-serif;
  font-weight: 400; /* Regular */
  color: #7e7e7e;
  font-size: 15px;
  line-height: 23px;
}

.large .body-copy.large {
  font-size: 15px;
  line-height: 25px;
}

.small .body-copy.small {
  font-size: 14px;
  line-height: 22px;
}

@media screen and (max-width: 767px) { /* only mobile */
 .small .body-copy.small {
    font-weight: 500; /* Medium */
  }
}

.bold .body-copy.bold {
  font-weight: 600; /* Bold */
}


/* Body Copy Defaults: tablet */
@media screen and (min-width: 768px) {
.body-copy {
    font-size: 18px;
    line-height: 28px;
  }

.large .body-copy.large {
    font-size: 18px;
    line-height: 32px;
  }

 .small .body-copy.small {
    font-size: 16px;
    line-height: 24px;
  }
}


/* Body Copy Defaults: desktop */
@media screen and (min-width: 960px) {
 .body-copy {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #828186;
    text-align: center;
  }

 .large .body-copy.large {
    font-size: 18px;
    line-height: 32px;
  }

 .small .body-copy.small {
    font-size: 16px;
    line-height: 24px;
  }
}
.consultation-link{
    border: 0;
    padding: 0;
    cursor: pointer;
    color: #0090ff;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}
.consultation-link:hover {
     color: #0090ff;
     border-bottom: 3px;
     border-bottom-style: solid;
     border-bottom-color: #0090ff;
}
 .columns {
    height: 100%
}

 .columns .column:first-child {
    padding-right: 0;
    padding-left: 96px
}

.border-middle .column:first-child {
    padding-right: 0;
    padding-left: 72px
}

.border-middle .columns .column:last-child {
    padding-right: 72px;
    padding-left: 0
}

 .columns .column:last-child {
    padding-left: 0;
    padding-right: 96px
}

 .column:first-child .column-section-container {
    margin-left: 0
}

 .column:last-child .column-section-container {
    margin-right: 0
}

 .column-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

 .column-section-container {
    position: relative;
    margin: 0 auto;
    width: 560px
}

 .column-section,
 .column-section .cta {
    opacity: 0;
    -webkit-transform: translateY(16px);
    transform: translateY(16px)
}

 .column-section.viewed,
 .column-section.viewed .cta {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1)
}

 .column-section.column-icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 65px;
    margin: 0 auto 16px;
    width: 65px
}

 .column-section.column-icon-small {
    height: 32px;
    width: 32px
}

 .column-section.column-icon-medium {
    height: 64px;
    width: 64px
}

 .column-section.column-icon-large {
    height: 96px;
    width: 96px
}

 .column-section.column-icon-extra-large {
    height: 128px;
    width: 128px
}

@media (min-width:760px) and (max-width:1143px) {
     .column-section.column-icon-small {
        height: 32px;
        width: 32px
    }
     .column-section.column-icon-medium {
        height: 48px;
        width: 48px
    }
     .column-section.column-icon-large {
        height: 72px;
        width: 72px
    }
     .column-section.column-icon-extra-large {
        height: 96px;
        width: 96px
    }
}

@media (max-width:759px) {
     .column-section.column-icon-small {
        height: 24px;
        width: 24px
    }
     .column-section.column-icon-medium {
        height: 32px;
        width: 32px
    }
     .column-section.column-icon-large {
        height: 48px;
        width: 48px
    }
     .column-section.column-icon-extra-large {
        height: 64px;
        width: 64px
    }
}
.column-section.title-large {
    color: #828286;
    font-family: "Google Sans", Arial, sans-serif;
    font-size: 42px;
    font-weight: 500;
    line-height: 54px;
    margin-top: 8px
}

 .column-section.title {
    color: #828286;
    font-family: "Google Sans", Arial, sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
    margin-top: 8px;
    text-align: center;
}

 .column-section.eyebrow {
    color: rgba(0, 0, 0, 0.5);
    font-family: "Google Sans", Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin: 0
}

 .column-section.header {
    color: #828286;
    font-family: "Google Sans", Arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 8px
}
.column-section.paragraph {
    color: #727276;
    font-family: "Google Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 27px;
    margin-top: 16px;
    margin-bottom: 0;
    text-align: center;
}
.body-copy .large{
 
}
@media (max-width:1143px) {
     .column-section-container {
        max-width: 480px
    }
    .body-copy{
          padding: 0 50px;
          text-align: center;
    }
     .column-section.title-large {
        font-size: 32px;
        line-height: 38px
    }
     .column-section.title {
        font-size: 24px;
        line-height: 32px
    }
}
@media (max-width:759px) {
    .body-copy{
          padding: 0 50px 40px;
          text-align: center;
    }
     .column {
        text-align: center
    }
    .column-section-container {
        max-width: 291px
    }
     .column-section.title-large,
     .column-section.title {
        margin-bottom: 8px
    }
     .column-section.paragraph {
        font-size: 16px;
        line-height: 24px
    }
    .mobile-flex .light-theme .column-section.header,
    .mobile-flex .light-theme .column-section.title-large,
    .mobile-flex .light-theme .column-section.title {
        color: #828286
    }
    .mobile-flex .light-theme .column-section.eyebrow,
    .mobile-flex .light-theme .column-section.paragraph {
        color: #727276
    }
    .two-column-stacked.mobile-flex .light-theme .column-section.eyebrow,
    .two-column-stacked.mobile-flex .light-theme .column-section.paragraph {
        color: #fff
    }
  }
   .guttered-wrapper {
      padding-top: 0
      padding-bottom: 0
  }


  @media (min-width:760px) {
    .guttered-wrapper {
      padding-top: 31px;
      padding-bottom: 31px;
    }
    
}

@media (max-width:759px) {
    .guttered-wrapper {
      padding-top: 32px;
      padding-bottom: 32px;
    }
}
.texto-banners{
    color: #828186 !important;
    font-size: 28px !important;
    line-height: 25px !important;
    font-weight: 500 !important;
    padding: 0px 34px !important;
    text-align: center !important;
}
.boton-producto{
    background-color: #0090ff !important;
    color: #f7f7f7 !important;
    padding: 6px 24px;
    border: 2px !important;
    border-style: solid !important;
    border-radius: 4px !important;
    border-color: #0090ff !important;
  }
  .boton-producto:hover{
    background-color: #fff !important;
    color: #0090ff !important;
    padding: 6px 24px;
    border: 2px !important;
    border-style: solid !important;
    border-radius: 4px !important;
    border-color: #0090ff !important;
  }
  .added{
    display: none;
  } 
  .rs-module {
    margin: 0 25px !important;
  }
  .titulo-1-columnas{
    font-size: 32px; 
    line-height: 1.25; 
    font-weight: 600; 
    color: #828186; 
    text-align: center;
  }
  .titulo-2-columnas{
    font-size: 16px; 
    line-height: 1.25; 
    font-weight: 400; 
    color: #828186; 
    text-align: center;
  }
    
    #div2-mini {

        background-color: #fafafa !important;
       
        padding: 50px;

    }
    @media(max-width: 480px){
        #div1-mini {
          margin: -36px 0 0 !important;
      }
       #div2-mini {

        background-color: #fafafa !important;
        margin: 10px 0px -20px -23px;
        padding: 50px;

      }
    }
  @media(max-width: 768px){
    .titulo-1-columnas{
      font-size: 24px; 
      line-height: 1.25; 
      font-weight: 600; 
      color: #828186; 
      text-align: center;
    }
    
   
  }
